# various dev files to not include in git
serviceindex.json
serviceindex.log
django.dump.1719417916copy.sql
copydata.sql
.DS_Store

# the repo this docker uses
Operations_ServiceIndex_Django/
django-api-importer/
Operations_Django_ACCESS_Account_Admin/
