# various dev files to not include in git
serviceindex.json
serviceindex.log
django.dump.1719417916copy.sql
copydata.sql
.DS_Store
API_KEY

# Repos this docker uses
Operations_ServiceIndex_Django/
Operations_ACCESS_Django_User_Admin/
access_django_user_admin/