[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==5.0.*"
#django-cors-headers = "*"
django-allauth = "==0.51.*"
django-bootstrap5 = "==24.*"
psycopg2-binary = "*"
requests = "*"
djangorestframework = "*"
gunicorn = "==22.*"
#access-django-user-admin = "==1.4.4"

[requires]
python_version = "3.10"
